rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /empenhos/{id} {
      allow read, write: if true;
    }
    match /alerts/{id} {
      allow read, write: if true;
    }
    match /invoices/{id} {
      allow read, write: if true;
    }
    match /comissoes/{id} {
      allow read, write: if true;
    }
  }
}
